.button {
  height: 30px;
  text-decoration: none;
  background-color: #FFFFFF;
  display: inline-block;
  border: 1px solid black;
  margin: 20px 0;
  padding: 5px 20px;
  font-size: 16px;
  color: #222222;
  text-align: center;
  line-height: 150%;
  vertical-align: middle;
  flex-wrap: wrap;
  cursor: pointer;
}
@media (max-width: 500px) {
  .button {
    width: 100%;
    height: 40px;
    padding: 0px 0px;
    line-height: 250%;
  }
}
.button a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}
.button a a:visited {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
.button a:hover {
  background-color: #e6e6e6;
  color: white;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px;
  line-height: 24px;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  background: #FFFFFF;
  Color: #222222;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.nav-bar {
  display: flex;
  background-color: #99A4AF;
  justify-content: space-between;
  padding: 10px;
}
.nav-bar h1 {
  font-weight: Bold;
  font-size: 24px;
  color: #ffffff;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .nav-bar h1 {
    margin-left: 1%;
  }
}
.nav-bar .nav {
  display: none;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar a:hover {
  color: #222222;
}
.nav-bar img {
  margin-right: 5%;
}
@media (max-width: 500px) {
  .nav-bar img {
    margin-right: 1%;
  }
}
header {
  height: 473px;
  display: block;
}
@media (max-width: 500px) {
  header {
    height: 273px;
  }
}
header img {
  height: 473px;
  width: 100%;
}
@media (max-width: 500px) {
  header img {
    height: 273px;
  }
}
header #jumbotron-text {
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  position: relative;
  bottom: 280px;
  left: 10%;
}
@media (max-width: 500px) {
  header #jumbotron-text {
    font-size: 50px;
    line-height: 60px;
    bottom: 210px;
    left: 5%;
  }
}
header #services {
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  position: relative;
  bottom: 280px;
  left: 10%;
}
@media (max-width: 500px) {
  header #services {
    font-size: 50px;
    line-height: 60px;
    bottom: 210px;
    left: 5%;
  }
}
.header-services {
  height: 200px;
  display: block;
}
@media (max-width: 500px) {
  .header-services {
    height: 273px;
  }
}
.header-services img {
  height: 200px;
  width: 100%;
}
@media (max-width: 500px) {
  .header-services img {
    height: 273px;
  }
}
.header-services #services {
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  position: relative;
  bottom: 100px;
  left: 5%;
  width: 70%;
}
@media (max-width: 500px) {
  .header-services #services {
    font-size: 50px;
    line-height: 60px;
    bottom: 210px;
    left: 5%;
  }
}
.top-container {
  margin: 50px 50px;
}
@media (max-width: 500px) {
  .top-container {
    margin: 50px 0px;
    margin-bottom: 10px;
  }
}
.top-container .top-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .top-container .top-content {
    margin: 0px 0px;
  }
}
.top-container .top-content h2 {
  font-weight: Bold;
  font-size: 16px;
  color: #222222;
  margin-top: 20%;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .top-container .top-content h2 {
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.top-container .top-content .first-content {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .top-container .top-content .first-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px 10px;
  }
}
.top-container .top-content .first-content img {
  width: 50%;
}
@media (max-width: 500px) {
  .top-container .top-content .first-content img {
    width: 90%;
  }
}
.top-container .top-content .first-content .text-container {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  width: 50%;
}
@media (max-width: 500px) {
  .top-container .top-content .first-content .text-container {
    width: 90%;
    align-items: center;
    margin: 0px 50px;
    height: 250px;
  }
}
.top-container .top-content .second-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .top-container .top-content .second-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
  }
}
.top-container .top-content .second-content img {
  width: 50%;
}
@media (max-width: 500px) {
  .top-container .top-content .second-content img {
    width: 90%;
  }
}
.top-container .top-content .second-content .text-container {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  width: 50%;
}
@media (max-width: 500px) {
  .top-container .top-content .second-content .text-container {
    width: 90%;
    align-items: center;
  }
}
.recent-projects-container {
  margin: 0 50px;
}
.recent-projects-container .project-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}
.recent-projects-container .project-content h2 {
  font-weight: Bold;
  font-size: 16px;
  color: #222222;
}
@media (max-width: 500px) {
  .recent-projects-container .project-content h2 {
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.recent-projects-container .project-content h3 {
  position: relative;
  letter-spacing: 2px;
  z-index: 1;
  font-size: 18px;
  top: 185px;
  left: 71.5%;
  background-color: #D8D8D8;
  height: 35px;
  width: 200px;
  padding-top: 22px;
  text-align: center;
}
@media (max-width: 500px) {
  .recent-projects-container .project-content h3 {
    letter-spacing: 8px;
    height: 55px;
    width: 350px;
    top: 200px;
    left: 7%;
    font-size: 30px;
  }
}
.recent-projects-container .project-content h4 {
  position: relative;
  letter-spacing: 2px;
  z-index: 1;
  font-size: 18px;
  top: 185px;
  background-color: #D8D8D8;
  height: 35px;
  width: 200px;
  padding-top: 22px;
  text-align: center;
}
@media (max-width: 500px) {
  .recent-projects-container .project-content h4 {
    letter-spacing: 8px;
    height: 55px;
    width: 350px;
    top: 200px;
    left: 7%;
    font-size: 30px;
  }
}
.recent-projects-container .project-content img {
  height: 150px;
}
@media (max-width: 500px) {
  .recent-projects-container .project-content img {
    width: 100%;
  }
}
.recent-projects-container .centered-ps {
  justify-content: center;
  margin-top: 80px;
  margin: 80px auto 10px auto;
  width: 85%;
}
footer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
footer .footer-content {
  background-color: #828282;
  height: 200px;
  margin-top: 50px;
  padding-top: 40px;
}
@media (max-width: 500px) {
  footer .footer-content {
    height: 700px;
  }
}
footer .footer-content .bottom-content {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}
@media (max-width: 500px) {
  footer .footer-content .bottom-content {
    display: flex;
    flex-direction: column;
  }
}
footer .footer-content .bottom-content .form {
  width: 30%;
  margin-left: 50px;
  margin-right: 35px;
}
@media (max-width: 500px) {
  footer .footer-content .bottom-content .form {
    width: 90%;
  }
}
footer .footer-content .bottom-content .form input {
  width: 90%;
  font-size: 16px;
  height: 40px;
  color: #D3D3D3;
  margin-top: 8px;
}
footer .footer-content .bottom-content h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
footer .footer-content .bottom-content .privacy {
  font-size: 12px;
}
@media (max-width: 500px) {
  footer .footer-content .bottom-content .privacy {
    font-size: 16px;
  }
}
footer .footer-content .bottom-content .locations {
  width: 18%;
}
@media (max-width: 500px) {
  footer .footer-content .bottom-content .locations {
    margin: 20px 50px;
    font-size: 16px;
    width: 100%;
  }
}
footer .footer-content .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
@media (max-width: 500px) {
  footer .footer-content .copyright {
    justify-content: flex-start;
    margin-left: 50px;
  }
}
