//footer
footer {

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #FFFFFF;
    }
  
    .footer-content {
      background-color: #828282;
      height: 250px;
      margin-top: 50px;
      padding-top: 40px;

      @media @mobile {
        height: 700px;
    }
  
      .bottom-content {
        display: flex;
        flex-direction: row;
        font-weight: normal;

        @media @mobile {
            display: flex;
            flex-direction: column;
        }
      
        // form to input E-mail address
        .form {
          width: 30%;
          margin-left: 50px;
          margin-right: 35px;

          @media @mobile {
            width: 90%;
        }

        // input e-mail box (Enter email)
          input {
            width: 90%;
            font-size: 16px;
            height: 40px;
            color: #D3D3D3;
            margin-top: 8px;
          }
        }
  
        h5 {
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }
  
        //privacy text (We'll never share your email with anyone else.)
        .privacy {
          font-size: 12px;

          @media @mobile {
            font-size: 16px;
        }
  
        }
  
        .locations {
          width: 18%;

          @media @mobile {
              margin: 20px 50px;
              font-size: 16px;
              width: 100%;
            }
        }
      }

      // copyright text
      .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        @media @mobile {
            justify-content: flex-start;
            margin-left: 50px;
          }
      }
    }
  }