//footer
footer {

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #FFFFFF;
    }
  
    .footer-content {
      background-color: #828282;
      height: 200px;
      margin-top: 50px;
      padding-top: 40px;
  
      .bottom-content {
        display: flex;
        flex-direction: row;
        font-weight: normal;
      
        .form {
          width: 30%;
          margin-left: 50px;
          margin-right: 35px;
  
          input {
            width: 90%;
            font-size: 16px;
            height: 40px;
            color: #D3D3D3;
            margin-top: 8px;
          }
        }
  
        h5 {
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }
  
        .privacy {
          font-size: 12px;
        }
  
        .locations {
          width: 18%;
        }
      }
  
      .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
      }
    }
  }