//homepage header- jumbo picture
header {
    height: 46vh;
    display: block;
    width: 100vw;

    @media @mobile {
        height: 36vh;
      }
  
    img {
      height: 46vh;
      width: 100vw;

      @media @mobile {
        height: 273px;
      }
    }

    // big white text in jumbo picture (Integrity, Excellence, Progress.)
    #jumbotron-text{
      font-weight: bold;
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      position: relative;
      bottom: 280px;
      padding-left: 10%;
      width: 100px;


      @media @mobile {
        font-size: 50px;
        line-height: 60px;
        bottom: 210px;
        left: 5%;
        width: 80%;
        margin: 0px 0px;
      }
    }
  }

//header for services page ---------
.header-services {
    height: 200px;
    display: block;

    @media @mobile {
        // height: 273px;
      }

      //services header picture
          img {
      height: 200px;
      width: 100%;

      @media @mobile {
        // height: 273px;
      }
    }

    // big white text in jumbo picture (Services text)
    #services {
        font-weight: Bold;
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        position: relative;
        bottom: 100px;
        left: 10%;
        width: 70%;
  
        @media @mobile {
          font-size: 50px;
          line-height: 60px;
          bottom: 90px;
          left: 5%;
        }
      }
  }

  //header for contact page ------
.header-contact {
  height: 200px;
  display: block;

  @media @mobile {
      // height: 273px;
    }

    //contact header picture
        img {
    height: 200px;
    width: 100%;

    @media @mobile {
      // height: 273px;
    }
  }

  // big white text in jumbo picture (Contact text)
  #contact {
      font-weight: Bold;
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      position: relative;
      bottom: 85px;
      left: 10%;
      width: 70%;

      @media @mobile {
        font-size: 50px;
        line-height: 60px;
        bottom: 90px;
        left: 5%;
      }
    }
}

//header for projects page ---------
.header-projects {
  height: 200px;
  display: block;

  @media @mobile {
      // height: 273px;
    }

    //services header picture
        img {
    height: 200px;
    width: 100%;

    @media @mobile {
      // height: 273px;
    }
  }

  // big white text in jumbo picture (Services text)
  #projects {
      font-weight: Bold;
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      position: relative;
      bottom: 122px;
      left: 10%;
      width: 70%;

      @media @mobile {
        font-size: 50px;
        line-height: 60px;
        bottom: 90px;
        left: 5%;
      }
    }
}