//homepage header- jumbo picture
header {
    height: 473px;
    display: block;

    @media @mobile {
        height: 273px;
      }
  
    img {
      height: 473px;
      width: 100%;

      @media @mobile {
        height: 273px;
      }
    }

    // big white text in jumbo picture (Integrity, Excellence, Progress.)
    #jumbotron-text{
      font-weight: bold;
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      position: relative;
      bottom: 280px;
      left: 10%;
      width: 150px;
      margin-right: 0px;

      @media @mobile {
        font-size: 50px;
        line-height: 60px;
        bottom: 210px;
        left: 5%;
        width: 80%;
        margin: 0px 0px;
      }
    }
  }

//header for services page
.header-services {
    height: 200px;
    display: block;

    @media @mobile {
        // height: 273px;
      }

      //services header picture
          img {
      height: 200px;
      width: 100%;

      @media @mobile {
        // height: 273px;
      }
    }

    // big white text in jumbo picture (Services text)
    #services {
        font-weight: Bold;
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        position: relative;
        bottom: 100px;
        left: 5%;
        width: 70%;
  
        @media @mobile {
          font-size: 50px;
          line-height: 60px;
          bottom: 90px;
          left: 5%;
        }
      }
  }