//top container (Smith & Jones Architects and Futuristic Designs)
.top-container {
    margin: 5% auto;
    display: flex;
    
    @media @mobile {
        margin: 5% 0px;
        margin-bottom: 10px;
    }
    
    //top content (Smith & Jones Architects and Futuristic Designs content)
    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        
        @media @mobile {
            margin: 0% 0%;
        }
        
        h2 {
            font-weight: bold;
            font-size: 16px;
            color: #222222;
            margin-top: 15%;
            margin-bottom: 7%;
            
            @media @mobile {
                margin-top: 5%;
                margin-bottom: 10px;
                font-size: 30px;
            }
        }
        
        // Smith & Jones Architects content
        .first-content {
            width: 90vw;
            margin: 0% 5%;
            margin-bottom: 7%;
            display: flex;
            flex-direction: row;
            
            @media @mobile {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin: 0px 10px;
            }
            
            img {
                width: 45vw;
                
                @media @mobile {
                    width: 90vw;
                }
            }
            
            //change first image ---still working on this
            // .first-img {
                
            //     @media @mobile {
            //         background-image: url("/img/home/home-mobile-img-1.png");
            //     }
            // }

            
            // text content (Smith & Jones Architects)
            .text-container {
                flex-direction: column;
                justify-content: space-between;
                margin-right: 20px;
                width: 45vw;

                @media @mobile {
                    width: 90vw;
                    align-items: center;
                    margin: 0px 5%;
                    height: 250px;
                }
            }
        }
        
        // Futuristic Designs content
        .second-content {
            width: 90vw;
            display: flex;
            flex-direction: row;
            margin: 0% 5%;

            @media @mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 10px;
            }
            
            img {
                width: 45vw;
                
                @media @mobile {
                    width: 90vw;
                }
            }
            
            // text content (Futuristic Designs)
            .text-container {
                flex-direction: column;
                justify-content: space-between;
                margin: 0 20px;
                width: 45vw;
                
                @media @mobile {
                    width: 90vw;
                    align-items: center;
                }
            }
        }
    }
}  


//recent-projects (The Villas, Outskirts, The Blocks)
.recent-projects-container {
    
    .project-content {
        display: flex;
        width: 95vw;
        margin: 0 5%;
        flex-direction: column;
        justify-content: space-between;
        
        h2 {
            font-weight: bold;
            font-size: 16px;
            color: #222222;
            
            @media @mobile {
                margin-top: 5%;
                margin-bottom: 10px;
                font-size: 30px;
            }
        }

        // grey squares with text over pictures (The Villas, The Blocks)
        h3 {
            position: relative;
            letter-spacing: 2px;
            z-index: 1;
            font-size: 18px;
            top: 185px;
            left: 68.7%;
            background-color: #D8D8D8;
            height: 4vh;
            width: 25vw;
            padding-top: 22px;
            text-align: center;

            @media @mobile {
                letter-spacing: 8px;
                height: 5.5vh;
                width: 82vw;
                top: 24vh;
                left: 4.5vw;
                font-size: 1.6rem;
            }
        }

        // grey squares with text over pictures (Outskirts)
        h4 {
            position: relative;
            letter-spacing: 2px;
            z-index: 1;
            font-size: 18px;
            top: 185px;
            background-color: #D8D8D8;
            height: 4vh;
            width: 25vw;
            padding-top: 22px;
            text-align: center;

            @media @mobile {
                letter-spacing: 8px;
                height: 5.5vh;
                width: 82vw;
                top: 24vh;
                left: 4.5vw;
                font-size: 1.6rem;
            }
        }
        
        img {
            height: 150px;
            width: 90vw;

            @media @mobile {
                width: 90vw;
            }

        }  
    }
    
    // recent-projects p's
    .centered-ps {
        justify-content: center;
        margin-top: 80px;
        margin: 8vh 5vw 2vh 5vw;
        width: 85vw;
        }
    }

