/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */

@mobile: ~"(max-width: 500px)"; //set max-width for mobile

// nav-bar
.container {
  .nav-bar {
    display: flex;
    background-color: #99A4AF;
    justify-content: space-between;
    padding: 10px;

    h1 {
      font-weight: Bold;
      font-size: 24px;
      color: #ffffff;
      margin-left: 5%;
    }

    .nav {
      display: none;
    }
    
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #222222;
      }
    }

    img {
      margin-right: 5%;
    }
  }

}

//header- jumbo picture
header {
  height: 473px;
  display: block;

  img{
    height: 473px;
    width: 100%;
  }

  #jumbotron-text{
    font-weight: Bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    position: relative;
    bottom: 280px;
    left: 10%;
  }
}

//top content- container (Smith & Jones Architects and Futuristic Designs content)
.top-container {
  margin: 50px 50px;

  .top-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-weight: Bold;
    font-size: 28px;
    color: #222222;
    margin-top: 20%;
    margin-bottom: 10px;
  }

  .first-content {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;

    img{
      width: 50%;
    }  

    .text-container {
      flex-direction: column;
      justify-content: space-between;
      margin: 0 20px;
      width: 50%;
    }
  }

  .second-content {
    width: 100%;
    display: flex;
    flex-direction: row;

    img{
      width: 50%;
    }  

    .text-container {
      flex-direction: column;
      justify-content: space-between;
      margin: 0 20px;
      width: 50%;
    }
  }
}

//button
.btn() {
  height: 30px;
  text-decoration: none;
  background-color: #FFFFFF;
  display: inline-block;
  border: 1px solid black;
  margin: 20px 0;
	padding: 5px 20px;
  font-size: 16px;
  color: #222222;
  text-align: center;
  line-height: 150%;
  vertical-align: middle;
  flex-wrap: wrap;
  cursor: pointer;
  
  & a {
      text-decoration: none;
      color: #FFFFFF;
      display: block;
  
  & a:visited {
      color: #FFFFFF;
      background-color: transparent;
      text-decoration: none;
  }
  
  &:hover {
      background-color: darken(#FFFFFF, 10%);
      color: white;
  }
}
}

.button {
.btn;
}

//recent-projects-container (The Villas, Outskirts, The Blocks)
.recent-projects-container {
  margin: 0 50px;

  .project-content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    border: 1px black solid;

    h2 {
      font-weight: Bold;
      font-size: 28px;
      color: #222222;
    }

    h3{
      position: relative;
      letter-spacing: 2px;
      font-size: 18px;
      top: 185px;
      left: 488px;
      background-color: #D8D8D8;
      height: 35px;
      width: 200px;
      padding-top: 22px;
      text-align: center;
    }

    img{
      height: 150px;
    }  

    .centered-ps {
      justify-content: center;
      margin: 80px auto;
      width: 55%;
      border: 1px black solid;
    }
  }


  .second-content {
    width: 100%;
    display: flex;
    flex-direction: row;

    img{
      width: 50%;
    }  

    .text-container {
      flex-direction: column;
      justify-content: space-between;
      margin: 0 20px;
      width: 50%;
    }
  }
}