//nav-bar
.nav-bar {
    display: flex;
    background-color: #99A4AF;
    justify-content: space-between;
    padding: 10px;

    h1 {
    font-weight: Bold;
    font-size: 24px;
    color: #ffffff;
    margin-left: 5%;

    @media @mobile {
        margin-left: 1%;
      }
    }

    .nav {
    display: none;
    }
    
    a {
    text-decoration: none;
    color: white;
    &:hover {
        color: #222222;
    }
    }

    img {
    margin-right: 5%;

    @media @mobile {
        margin-right: 1%;
      }
    }
}