//nav-bar
.nav-bar {
    display: flex;
    background-color: #99A4AF;
    justify-content: space-between;
    width: 100vw;

    h1 {
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      margin: 2% 0;
      margin-left: 10%;

      @media @mobile {
        margin-left: 5%;
      }

    }

    #services-SJ {
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      margin: 2% 0;
      margin-left: 10%;
      
      @media @mobile {
        margin-left: 5%;
      }
    }

    // default none
    .nav {
    display: none;
    }
    
    a {
    text-decoration: none;
    color: white;

    &:hover {
        color: #222222;
      }
    }

    img {
      margin: 2% 0;
      margin-right: 10%;
      
      @media @mobile {
        margin-right: 5%;
      }
    }

    .services-nav-button {
      margin: 2% 0;
      margin-right: 10%;
      
      @media @mobile {
        margin-right: 5%;
      }
    }

    .contact-nav-button {
      margin: 2% 0;
      margin-right: 10%;
      
      @media @mobile {
        margin-right: 5%;
      }
    }
}

.nav-bar-active {
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 100vw;
  opacity: 0.95;
  position: fixed;
  z-index: 2;

  .nav {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    align-self: center;
    width: 25vw;
    margin: 0px auto;
    font-size: 3.5rem;
    line-height: 150%;

    @media @mobile {
      width: 50vw;
    }

  }
}