.project-content {

}


.slide-container {
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
    margin: 5% 10%;
    height: 100%;
    padding-bottom: 2%;

    @media @mobile {
        width: 90%;
        margin: 0 5%;
    }

    .carousel-inner{
        .item {
            height: 230px;
            width: 100%;
    
            @media @mobile {
                transition: 0ms;
                margin: 5% 0px;
                height: 300px;
            }
        
            img {
                height: 300px;
                width: 100%;
    
                @media @mobile {
                    height: 100%;
                }
            }
        }
    
        .item active {
    
            @media @mobile {
                transition: 0ms;
                margin: 5% 0px;
                height: 300px;
            }
        
            img {
                
                @media @mobile {
                    height: 100%;
                }
            }
        }
    
    }

    .carousel-indicators {
        z-index: 1;
    }
}

.project-container {
    margin: 0 auto;
} 