.slide-container {
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0.5%;

    .carousel-inner{
        .item {
            height: 230px;
            width: 100%;
    
            @media @mobile {
                transition: 0ms;
                margin: 5% 0px;
                height: 300px;
                color: black;
            }
        
            img {
                height: 300px;
    
                @media @mobile {
                    height: 100%;
                }
            }
        }
    
        .item active {
    
            @media @mobile {
                transition: 0ms;
                margin: 5% 0px;
                height: 300px;
                color: black;
            }
        
            img {
                
                @media @mobile {
                    height: 100%;
                }
            }
        }
    
    }

    .carousel-indicators {
        z-index: 1;
    }
}

.project-container {
    margin: 0 auto;
} 
