//services-content
.services-page {
    margin: 50px 50px;
}

// top p
.top-content {
    margin-bottom:  10px;
}

// tabs (Pre-Construction, Construction, Design Build, Sustainability)
.tabs-link {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media @mobile {
      flex-direction: column;
      .center();
    }
    
    // buttons
    .button {
        .btn;
        font-weight: bold;
        margin: 0 15px;
        
        @media @mobile {
            font-size: 20px;
            margin: 10px 0;
            height: 50px;
            padding: 0px 0px;
            line-height: 250%;
        }
        
        &:hover {
            cursor: pointer;
            background: #48a0bc;
            color: white;
        }
    }
    
    .tabs-link-selected {
        background: #48a0bc;
        color: white;
    }
}

// tab-contents (bottom content)
.services-content {
    display: flex;
    display: none;
    margin-top: 50px;

    @media @mobile {
        flex-direction: column;
    }
    
    // left side with description
    .tabs-item {
        width: 90%;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        @media @mobile {
            width: 100%;
        }
        
        // title
        .tabs-title {
            font-weight: bold;

            @media @mobile {
                justify-content: flex-start;
                font-size: 28px;
            }
        }

        // text description
        .tabs-description {
            margin: 20px 0;
        }
    }

    // image in section
    img {
        width: 50%;

        @media @mobile {
            width: 100%;
            margin-top: 30px;
        }
    }
}

// when tab is selected
.tabs-item-selected {
  display: flex;
  
  @media @mobile {
      margin-top: 30px;
    }

}